<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<header>
    <h1>Book of student & teacher</h1>
</header>
<body>

<h2>
    <a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{menuStudent}">
        <span style="font-size: large">Student</span>
    </a><br>
    <a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{/teacher/menuTeacher.html}">
        <span style="font-size: large">Teacher</span>
    </a>
</h2>
</body>
</html>